<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687784936826-6osjraa55gjuqvdsh84nqijrhcvfpvmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687784936826-6osjraa55gjuqvdsh84nqijrhcvfpvmf</string>
	<key>API_KEY</key>
	<string>AIzaSyCYaL6WyixGPx7xIkDM3I0SSb02_NwytZE</string>
	<key>GCM_SENDER_ID</key>
	<string>687784936826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blindspotApp</string>
	<key>PROJECT_ID</key>
	<string>cs5520-sailorsenshi-blindspot</string>
	<key>STORAGE_BUCKET</key>
	<string>cs5520-sailorsenshi-blindspot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687784936826:ios:2430624afc807fd89442c3</string>
	<key>DATABASE_URL</key>
	<string>https://cs5520-sailorsenshi-blindspot-default-rtdb.firebaseio.com</string>
</dict>
</plist>